*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aliceblue;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.132)
}

.nav-bar h3{
    background-color: burlywood;
    background: linear-gradient(to left, #6dff6bc0 50%, #0bda64 50%);
    padding: 15px;
    margin-left: 20px;
    border-radius: 30px;
    font-family: poppins;
    text-decoration-color: aliceblue;
    filter: drop-shadow(0 0 10px #9c9c9c) drop-shadow(0 0 20px #f1f5f5);
}

.logo:hover {
    transition: all 0.3s ease;
    transform: scale(1.05);
}

.nav-bar h3 em{
    font-weight: lighter;
}

a:visited{
    color:rgb(85, 111, 133);
}

.nav-links{
    display: flex;
    list-style: none;
    gap: 30px;
}
.nav-links a{
    text-decoration: none;
    background-color: rgb(228, 234, 239);
    padding: 8px;
    border-radius: 20px;
    font-family: poppins;
    font-size: small;
}

.nav-links{
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
}
/* footeruhh */
.bottom{
    color: white;
    font-family: poppins;
    font-size: 12px;
    text-align: center;
    background-color: rgb(61, 56, 56);
}

.bottom{
    padding-left: 15px;
    padding-right:15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.body-head{
    font-family: poppins;
    color: rgb(255, 160, 35);
    font-size: 100px;
    padding-left: 20px;
}

.body-content{
    padding-left: 27px;
    color: grey;
    font-size: 30px;
    font-family: "Poppins", sans-serif;

}

.body-content-1{
    color: grey;
    padding-top: 10px;
    padding-left: 27px;
    line-height: 2;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:100;
    font-style: normal;    
}